$primary-color: #353535;
$gray-accent: rgba(255, 255, 255, 0.349);
$text-color: rgba(246, 248, 250, 0.61);
$secondary-color: #00d474;
$dark-accent: #1c1c1c;
$color-white: #fff;
$button-active: #d41616;
$gray-light: #f3f3f3;
